.header {
    position: relative;
    width: 100vw;
    
    .top-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: clamp(8px, 16px, 24px) 0;
        border-bottom: 1px solid rgba(232, 200, 149, 0.10);
        .time-location{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 16px;
            li,
            li a{
                display: flex;
                align-items: center;
                gap: 8px;
                color: $white;
                transition: $transition;
            }
            li a{
                &:hover{
                    color: $accent-2;
                }
            }
        }
    }

    .navigation {
        width: 100%;
        position: relative;
        padding: clamp(8px, 16px, 24px) 0;
        .navigation-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .header-logo {
            @include media-query(580px) {
                width: 20vw;
            }
        }
        .main-menu__list,
        .main-menu__list ul,
        .stricky-header .main-menu__list,
        .stricky-header .main-menu__list ul {
            margin: 0 auto;
            padding: 0;
            padding-left: 9.271vw;
            list-style-type: none;
            align-items: center;
            display: none;


            @include widther(1200px) {
                display: flex;
                justify-content: center;
                gap: clamp(18px, 1.25vw, 32px);
            }
        }

        .main-menu__list {
            >li {
                padding-top: 8px;
                padding-bottom: 8px;
                position: relative;
                
                >a {
                    font-size: clamp(14px, 0.833vw, 20px);
                    font-weight: 400;
                    line-height: 140%;
                    font-family: $font-primary;
                    color: $white;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    position: relative;
                    transition: all $transition;
                    &::after{
                        content: '';
                        width: 0;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: $accent-2;
                        transition: $transition;
                    }

                    &:hover, &.active {
                        color: $accent-2;
                    }
                }

                &.current, &.active,
                &:hover {
                    a{
                        color: $accent-2;
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }

            li {
                ul {
                    position: absolute;
                    top: 100%;
                    left: -25px;
                    min-width: 220px;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    opacity: 0;
                    visibility: hidden;
                    transform-origin: top center;
                    transform: scaleY(0) translateZ(100px);
                    backface-visibility: hidden;
                    transition: opacity $transition, visibility $transition,
                    transform 700ms ease;
                    z-index: 99;
                    background-color: $light-black;
                    padding: 15px 10px 10px;
                    border-radius: $br-10;

                    li {
                        flex: 1 1 100%;
                        width: 100%;
                        position: relative;

                        >a {
                            font-size: clamp(13px, 0.833vw, 20px);
                            line-height: 140%;
                            color: $white;
                            font-weight: 400;
                            font-family: $font-primary;
                            display: flex;
                            padding: 7px 20px;
                            transition: 400ms;
                            margin-bottom: 4px;
                            border-radius: 5px;

                        }

                        &.current,
                        &:hover {
                            >a {
                                background-color: $accent-2;
                                color: $black;

                                &::after {
                                    visibility: visible;
                                    opacity: 1;
                                    transform: scale(1);
                                    color: $black;
                                }
                            }
                        }

                        >ul {
                            top: 0;
                            left: calc(100% + 20px);

                            &.right-align {
                                top: 0;
                                left: auto;
                                right: 100%;
                            }

                            ul {
                                display: flex;
                            }
                        }
                    }
                }

                &:hover {
                    >ul {
                        opacity: 1;
                        visibility: visible;
                        gap: 6px;
                        transform: scaleY(1) translateZ(0px);
                        transition: $transition;
                    }
                }

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    ul {
                        li {
                            >ul {
                                @include short-query(1200px, 1399px) {
                                    left: auto;
                                    right: calc(100% + 20px);
                                }
                            }
                        }
                    }
                }
            }
        }

        .header-right-block{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: clamp(16px, 1.25vw, 32px);

            .icon{
                font-size: 24px;
                color: $white;
                transition: $transition;
                cursor: pointer;

                &:hover{
                    color: $accent-2;    
                }
            }
        }
        
    }
}

.mobile-nav__toggler {
    font-size: 24px;
    font-weight: 200;
    color: $white;
    cursor: pointer;
    transition: 500ms;
    display: none;

    @include media-query(1099px) {
        display: flex;
        filter: hue-rotate(50deg);
    }

    &:hover {
        color: $accent-2;
    }
}


/*--------------------------------------------------------------
  # Mobile Nav
  --------------------------------------------------------------*/
.mobile-nav__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transform: translateX(-100%);
    transform-origin: left center;
    transition: transform 500ms ease 500ms, visibility 500ms ease 500ms;
    visibility: hidden;
    position: fixed;

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    &.expanded {
        opacity: 1;
        transform: translateX(0%);
        visibility: visible;
        transition: transform 500ms ease 0ms, visibility 500ms ease 0ms;

        .mobile-nav__content {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            transition: opacity 500ms ease 500ms, visibility 500ms ease 500ms,
                transform 500ms ease 500ms;
        }
    }

    .mobile-nav__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $black;
        opacity: 0.3;
    }

    .mobile-nav__content {
        width: 300px;
        background-color: $black;
        z-index: 10;
        position: relative;
        height: 100%;
        overflow-y: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-100%);
        transition: opacity 500ms ease 0ms, visibility 500ms ease 0ms,
        transform 500ms ease 0ms;

        @include media-query(490px) {
            width: clamp(250px, 55.102vw, 450px);
        }

        .main-menu__nav {
            display: block;
            padding: 0;
        }

        .logo-box {
            margin-bottom: 40px;
            display: flex;

            img {
                width: clamp(120px, 15.625vw, 320px);
            }
        }

        .main-menu__list,
        .main-menu__list ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }

        .main-menu__list {
            ul {
                display: none;
                border-top: 1px solid RGBA(255, 255, 255, 0.1);

                li {
                    >a {
                        padding-left: 1em;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
                    }
                }
            }

            li {
                &:not(:last-child) {
                    border-bottom: 1px solid RGBA(255, 255, 255, 0.1);
                }

                a {
                    display: flex;
                    justify-content: space-between;
                    line-height: 30px;
                    color: $white;
                    font-size: 18px;
                    font-family: $font-primary;
                    text-transform: capitalize;
                    font-weight: 500;
                    height: 46px;
                    letter-spacing: 0.8px;
                    align-items: center;
                    transition: 500ms;

                    &.expanded {
                        color: $accent-2;
                    }

                    button {
                        width: 30px;
                        height: 30px;
                        background-color: $accent-1;
                        border: none;
                        outline: none;
                        color: $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        transform: rotate(-90deg);
                        transition: transform 500ms ease;

                        &.expanded {
                            transform: rotate(0deg);
                            background-color: $white;
                            color: $black;
                        }
                    }
                }
            }
        }
    }

    .mobile-nav__close {
        position: absolute;
        top: 20px;
        right: 15px;
        font-size: 18px;
        color: $white;
        cursor: pointer;
    }
}

.mobile-nav__social {
    display: flex;
    align-items: center;

    a {
        font-size: 16px;
        color: $white;
        transition: 500ms;

        +a {
            margin-left: 20px;
        }

        &:hover {
            color: $accent-1;
        }
    }
}

.mobile-nav__contact {
    margin-bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    li {
        color: $white;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;

        +li {
            margin-top: 15px;
        }

        a {
            color: inherit;
            transition: 500ms;

            &:hover {
                color: $accent-1;
            }
        }

        i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $accent-1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 14px;
            margin-right: 10px;
            color: $white;
        }
    }
}

.mobile-nav__container .main-menu__logo,
.mobile-nav__container .main-menu__right {
    display: none;
}

.nav-bar {
    .nav-link {
        li {
            position: relative;
            display: flex;
            align-items: center;
            gap: 16px;

            &::before {
                content: '';
                width: clamp(4px, 0.417vw, 16px);
                height: clamp(4px, 0.417vw, 16px);
                border: 1px solid $accent-1;
                border-radius: clamp(4px, 0.417vw, 16px);
            }

            &.active {
                &::before {
                    display: none;
                }
            }
        }
    }
}